assignments/assignment_02/data
assignments/assignment_03/data
assignments/assignment_04/data
lessons/lesson_05/data
lessons/lesson_05/output
assignments/assignment_05/data
lessons/lesson_06/data
lessons/lesson_06/output
assignments/assignment_06/data
assignments/assignment_06/assemblies
assignments/assignment_07/data/clean/*
assignments/assignment_07/data/dog_reference/*
assignments/assignment_07/data/raw/*
